#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}
ul {
  list-style-type: none;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
  padding: 15px;
  border-bottom: 1px solid;
}
header img {
  max-width: 50px;
  margin-right: 15px;
}
header h3 {
  margin: 0;
  margin-right: auto;
}
.btnBlock {
  margin-bottom: 15px;
}
.btnBlock button {
  margin-right: 15px;
  border: 1px solid #cecece;
  background-color: white;
}
button {
  margin-bottom: 15px;
  border: 1px solid #cecece;
  background-color: white;
}
.btnBlock button.active {
  background-color: #017fa5;
  color: white;
}
.control {
  margin-bottom: 15px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}
body label.control {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
.tabsButton button {
  margin-right: 15px;
}
.listItem {
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #cecece;
}

.tabsButton button.active {
  background-color: #017fa5;
  color: white;
}
.modalFlexBtn {
  display: flex;
  width: 100%;
  justify-content: end;
}
.modalFlexBtn button:first-child {
  margin-right: 10px;
}